<?xml version='1.0' encoding='utf-8'?>
<widget id="org.camden.pgdiary" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Aegeus</name>
    <description>
        An encrypted system
    </description>
    
    <icon src="res/cordova.jpg" />
     
   	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
    
    
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <access origin="*" />
</widget>
